@import url('https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap');
.ListP{
    background-color: #424447;
}
.ListI{
    padding-top: 12px;
    font-family: 'Spicy Rice', cursive;
    padding-right: 10px;
    padding-right: 10px;
    font-size: 100px;
    margin-top: 10px;
    margin-right: 10px;
}
.PTable{
    background-color: #d9dbda;
}